<div class="form-area">  
  <form role="form">
    <br style="clear:both">
    <h3 style="margin-bottom: 25px; text-align: center;">Booking Edit</h3>
    <div class="validation-error"></div>
    <div class="form-group">
      {{bootstrap-datepicker autoclose=true value=model.start_at changeDate='calculatePrice' placeholder='Start Date' class='form-control start-at'}}
    </div>
    <div class="form-group">
      {{bootstrap-datepicker autoclose=true value=model.end_at changeDate='calculatePrice' placeholder='End Date' class='form-control end-at'}}
    </div>
    <div class="form-group">
      {{input type="text" value=model.client_email placeholder='Client Email' class='form-control'}}
    </div>
    <div class="form-group">
      <label>Price:</label>
      <span id="price-curr"></span><span id="booking_price">{{model.price}}</span>
    </div>
    <a {{action 'save'}} class='btn btn-primary pull-right'>Save</a>
    <a {{action 'cancel'}} class='btn btn-default pull-right'>Cancel</a>
  </form>
</div>